<div>

  <br />

  <button class="btn btn-primary" (click)="newUser()">New User</button>

  <br /><br />

  <table mdbTable>
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <tr mdbTableCol *ngFor="let user of users">
        <td>{{user.firstName}}</td>
        <td>{{user.lastName}}</td>
        <td>{{user.email}}</td>
      </tr>
    </tbody>
  </table>

</div>
