<nav class="navbar navbar-expand-sm bg-light">
    <div class="container-fluid">
      <ul class="navbar-nav">

        <li class="nav-item">
          <a routerLink="auth" class="nav-link" routerLinkActive="btn btn-primary">
            Login
          </a>
        </li>

        <li class="nav-item">
          <a routerLink="user/list" class="nav-link" routerLinkActive="btn btn-primary">
            Users
          </a>
        </li>

      </ul>
    </div>
  </nav>
  
  <div class="container">
    <router-outlet></router-outlet>
  </div>
