<div>

  <form #newUser="ngForm" (ngSubmit)="saveUser(newUser.value)">

    <input type="text" name="firstName" ngModel />

    <input type="text" name="lastName" ngModel />

    <input type="text" name="email" ngModel />

    <input class="btn btn-primary" type="submit" value="Save User" />

  </form>

</div>






